@media screen and (max-width: 1150px) {
    .navbar {
        padding: 0 20px;
    }

    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .nav-right {
        gap: 0.5rem;
    }

    #view-demo-nav {
        display: none;
    }

    #get-started-nav {
        display: none;
    }

    .font-toggle {
        display: none;
    }

    .mobile-menu.active {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        padding: 0 20px;
        height: 50px;
    }

    .navbar .logo {
        width: 60px;
        height: 30px;
    }

    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .nav-right {
        gap: 0.5rem;
    }

    #view-demo-nav {
        display: none;
    }

    #get-started-nav {
        display: none;
    }

    .font-toggle {
        display: none;
    }

    .mobile-menu.active {
        display: block;
    }
}

@media (max-width: 480px) {

    /* hero-section  */
    .hero-section {
        flex-direction: column;
        align-items: center;
        min-height: auto;
        position: relative;
    }

    .hero-left,
    .hero-right,
    .cirlcle-img,
    .collab-img,
    .logo-left,
    .logo-right {
        display: none;
    }

    .hero-center {
        /* height: auto; */
        width: 100vw;
        margin: 0;
        border-radius: 15px;
        padding: 90px 20px;
    }

    .hero-text-wrapper {
        position: static;
        transform: none;
        width: 100%;
        padding-top: 0;
        margin: 0;
    }

    #center-button {
        flex-direction: column;
        gap: 10px;
    }

    #get-started-center,
    #view-demo {
        width: 100%;
        max-width: 300px;
    }

    /* About-section  */
    .about {

        flex-direction: column;
        padding: 90px 20px;
        align-items: center;
        width: 100%;
        /* text-align: center; */
    }

    .about-left {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .about h1,
    .about p {
        width: 100%;
    }

    .about-right {
        width: 100%;
        padding: 0;
        margin-top: 30px;
        /* text-align: center; */
    }

    .about-right img {
        width: 100%;
        /* height: 130%; */
    }

    /* smart-fast section  */

    .smart-fast h1 {
        font-size: 32px;
        width: 100%;
        line-height: 1.3;
    }

    .smart-fast h4 {
        font-size: 14px;
        line-height: 1.2;
    }

    .smart-cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 20px 0;
    }

    .smart-fast .cards {
        width: 90%;
        height: auto;
        padding: 20px 10px;
    }

    .smart-fast .cards img {
        margin: 20px auto 20px auto;
    }

    .smart-fast .cards p {
        width: 100%;
        margin: 0 10px 20px;
    }

    /* Product-section  */

    .product-container {
        flex-direction: column;
        padding: 90px 20px;

    }

    .button-wrapper {
        align-items: center;
        justify-content: center;
    }

    .product-content {
        align-items: center;
    }

    .product-content,
    .product-image {
        width: 100%;
        text-align: center;
    }

    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-box {
        border-right: none !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    /* bg-section  */
    .bg {
        padding: 40px 20px;
        justify-content: center;
        /* align-items: center; */
        /* text-align: center; */
        height: 300px;
        width: 100%;
        background-size: cover;
    }

    .bg h1 {
        font-size: 32px;
        text-align: center;
    }

    /* system-section  */
    .system {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 20px;
        /* background-position:center; */
    }

    /* .system span{
        margin: 4px;
        font-size: 12px;
    }
    .system .left h4{
        font-size: 12px;
    } */

    .system .left p {
        text-align: center;
    }

    .card-container {
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .system-card {
        flex-grow: 1;
        height: auto;
    }

    .system-card p {
        font-size: 14px;
    }

    .card-top {
        flex-direction: column;
    }

    /* customer-section  */

    .customer-left,
    .customer-right {
        display: none;
    }

    /* .right-card , .left-card{
        display: none;
    } */

    .customer-center {
        /* justify-content: center; */
        width: 100vw;
        margin: 0;
        padding: 90px 20px;



    }

    /* .customer span{
        margin: 4px;
        font-size: 12px;
    }
    .customer-center h4 {
        font-size: 12px;
    } */

    .customer-center-text {
        margin: 0 20px;
    }


    .customer-center h1 {
        width: 100%;
        height: auto;
        font-size: 40px;
        line-height: 1.2;
    }


    .customer-cards {
        position: static;
        flex-direction: column;
    }

    .customer-card {
        position: static;
        /* Rectangle 18 */
        /* position: absolute; */
        padding: 30px;
        width: 90vw;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(24, 27, 52, 0.05);
        border-radius: 15px;

    }

    .see-all-stories {
        position: static;
        margin-top: 20px;
        /* bottom: 20px; */

    }

    /* centers-section  */

    .centers {
        flex-direction: column;
        /* padding: 90px 20px; */
        gap: 30px;
        overflow: hidden;
    }

    .centers .left {
        margin: 0;
        padding: 90px 20px;
    }

    /* .centers span{
        color: #1F252B;
        margin: 4px;
        font-size: 12px;
    }
    .centers .left h4 {
        font-size: 12px;
    } */

    .centers .left h1 {
        font-size: 38px;
        font-weight: 800;
        width: 90vw;
        height: auto;
    }

    .centers .right {
        width: 100%;
        /* background-color: gray; */
        height: 100%;
        overflow: hidden;

    }

    .centers .right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* object-view-box: content-box; */
        /* object-fit: cover; */
        /* object-position: right; */
    }

    /* media-section  */

    .media-bg .right,
    .media-bg .left {
        display: none;
    }

    .media-bg .center {
        padding: 90px 20px;
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }

    .media-bg .text-center {
        align-items: center;
    }

    .media-cards {
        flex-direction: column;
    }

    /* .media-bg .center h4 {
        font-size: 12px;
    }

    .media-section span {
        color: #1F252B;
        margin: 4px;
        font-size: 12px;
    } */

    .media-bg .center h1 {
        width: 100%;
        height: auto;
        font-size: 38px;
        line-height: 1.2;
    }

    .media-cards {
        width: 100%;
        position: static;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        /* width: 100%; */
    }

    .left-media-card {
        width: 100%;
        /* height: auto; */
        /* max-width: 350px; */

    }

    .left-media-card .card-img {
        width: 100%;
        /* height: auto; */
        height: 300px;
        margin: 0;
        object-fit: cover;
        border-radius: 0;
    }

    .right-media-card {
        width: 100%;
        /* max-width: 350px; */
        gap: 20px;
    }

    .right-media-card1,
    .right-media-card2 {
        height: auto;
        flex-direction: column;
    }


    .right-media-card .card-img {
        width: 100%;
        height: 300px;
        margin: 0;
        border-radius: 15px 15px 0 0;
    }

    .card-content h3 {
        width: 100%;
        height: auto;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .right-media-card .card-content h3 {
        margin-bottom: 20px;
    }

    .read-more-btn {
        margin: 0;
        /* margin-bottom: 20px; */
    }

    .read-more {
        margin-top: 20px;
    }

}

/* for the  product -section  */
@media (max-width: 480px) {
    .features-grid {
        grid-template-columns: 1fr;
    }

    .feature-box {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .bg h1 {
        font-size: 26px;
        line-height: 1.3;
    }

    .bg {
        background-size: contain;
        background-position: top center;
    }
}

/* @media (max-width: 768px) { */
/* Customer section responsive styles */
/* .customer-center-text {
        margin: 0 100px;
    }
    
    .customer-center h1 {
        width: 100%;
        height: auto;
        font-size: 42px;
        line-height: 1.2;
    }
} */