* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Public Sans', sans-serif;
    background-color: white;
}

section {
    margin-top: 10px;
    border-radius: 10px;
}

html,
body {
    height: 100vh;
}

.navbar {
    display: flex;
    /* padding: 100px ;
    */
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background: #F7F7F7;
    flex-wrap: wrap;
    border-radius: 20px;
    height: 68px;
    width: 100%;
}

.nav-left {
    display: flex;
    align-items: center;
    /* gap: 60px; */
}

.logo {
    width: 100px;
    height: 48px;
    /* margin-left: 100px; */
}

.nav-links {
    margin-left: 60px;
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    font-weight: 500;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#view-demo-nav {
    color: #d63384;
    font-weight: 500;
    text-decoration: none;
}

#get-started-nav {
    background: #181B34;
    color: white;
    padding: 0.5rem 1.2rem;
    height: 40px;
    width: 128px;
    border-radius: 40px;
    border: none;
    font-size: 14px;
    /* font-weight: 600; */
    cursor: pointer;
}

.font-toggle {
    padding: 0.5rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    list-style: none;
    padding: 1rem;
    background: #f1f1f1;
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.mobile-menu li {
    margin: 0.5rem 0;
}

.mobile-menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 0.5rem 1rem;
}

/* Hero section start here  */
/* mainsection  or hero section */
.hero-section {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: wrap;
    min-height: 780px;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

/* Left Rectangle */
.hero-left {
    width: clamp(200px, 15vw, 250px);
    min-height: 780px;
    background-color: #F7F7F7;
    border-radius: 0 15px 15px 0;
}

/* Center Rectangle */
.hero-center {
    position: relative;
    background: url(./images/hero-bg-img.png);
    background-color: #F7F7F7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 250px; */
    min-height: 780px;
    /* padding: 80px 175px 0 175px; */
    flex: 1;
    margin-right: min(10px, 1vw);
    margin-left: min(10px, 1vw);
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
    text-align: center;
    align-items: center;
    border-radius: 10px;

}


.hero-center-img {
    /* height: 980px; */
    /* width: 1300px; */
    height: 100%;
    object-fit: contain;
    background: transparent;

}

/* Right Rectangle */
.hero-right {
    width: clamp(200px, 15vw, 250px);
    min-height: 780px;
    background-color: #F7F7F7;
    border-radius: 15px 0 0 15px;
}

.hero-text-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.hero-text-wrapper h4 {
    text-transform: uppercase;
    display: flex;
    font-size: clamp(12px, 1vw, 14px);
    flex-direction: row;
    align-items: center;
    color: #DD4C8A;
    margin-bottom: 15px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.hero-text-wrapper h3 {
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: clamp(24px, 2.5vw, 28px);
    line-height: clamp(32px, 3vw, 58px);
    text-align: center;
    text-transform: uppercase;
    color: #1F252B;
}

.hero-text-wrapper .gradient-text {
    width: 100%;
    height: auto;
    font-style: bold;
    font-weight: 900;
    font-size: clamp(36px, 5vw, 68px);
    line-height: clamp(42px, 5.5vw, 68px);
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(95.82deg, #425292 20.38%, #FD8A45 50%, #DD4C8A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero-text-wrapper h5 {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(12px, 1vw, 18px);
    line-height: clamp(16px, 1.2vw, 21px);
    text-align: center;
    font-size: 18px;
    color: #1F252B;
    margin-top: 10px;
}

#center-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.get-started {
    background: #181B34;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1.2rem;
    height: 48px;
    width: 146px;
    color: white;
    font-size: 14px;
    border-radius: 40px;
    font-weight: 500;
}

.view-demo {
    width: 142px;
    height: 48px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    color: #181B34;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(24, 27, 52, 0.25);
    border-radius: 40px;
    cursor: pointer;
}




.star {
    color: #181B34;
    margin: 0 5px
}

/* cirlular-image */
.cirlcle-img {
    z-index: 200;
    position: absolute;
    width: 160px;
    height: 160px;
    top: 566px;
    right: 170px;
    border-radius: 225px;
}

.collab-img {
    position: absolute;
    width: 250;
    height: 170;
    top: 556px;
    left: 178px;
    border-radius: 10px;
}

.logo-left {
    position: absolute;
    width: 90;
    height: 90;
    top: 758px;
    left: 150px;
}

.logo-right {
    position: absolute;
    width: 143.31753540039062;
    height: 40;
    top: 798px;
    right: 86px;
}



/* important section */

.important {
    height: 68px;
    display: flex;
    align-items: center;
    background: #F7F7F7;
    border-radius: 12px;
    padding: 0 24px;
    gap: 30px;
    overflow: hidden;
    position: relative;
}

.important ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    animation: moveLeft 20s linear infinite;
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.important ul:hover {
    animation-play-state: paused;
}

.important h3 {
    color: #d63384;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Public Sans';
    font-style: normal;
    line-height: 16px;
}

.important ul li {
    white-space: nowrap;
    font-size: 14px;
    color: #1F252B;
    display: flex;
    align-items: center;
    gap: 6px;
    font-style: normal;
    font-weight: 500;
}

.star-important {
    color: #505050;
    font-size: 14px;
    /* font-style: bold; */
    font-weight: 700;

}

.dot {
    color: #DD4C8A;
    margin-right: 8px;
    font-size: 50px;
    font-weight: 500;
}

.seprator {
    color: #DD4C8A;
    margin-left: 20px;
    font-size: 30px;
}


/*  ABOUT SECTION  */
.about span {
    color: #1F252B;
    margin-right: 5px;
}

.about {
    display: flex;
    /* min-height: 590px; */
    width: 100%;
    background: #F7F7F7;
    border-radius: 15px;
    margin-top: 10px;
}


.about-left {
    display: flex;
    flex-direction: column;
    /* background-color: #b81515; */
    padding: 80px 0 80px 100px;
    width: 50%;

}

.about-right {
    width: 50%;

    overflow: hidden;
    margin-right: 50px;
    /* height: 100%; */
    padding-right: 180px;
    /* background-color: #298a63; */

}

.about-right img {
    width: 130%;
    /* max-height:590px; */
    height: 100%;
    object-fit: cover;
}

.about h1 {
    /* position: absolute; */
    width: 639px;
    background: linear-gradient(95.82deg, #425292 20.38%, #FD8A45 50%, #DD4C8A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
    font-size: clamp(32px, 4vw, 58px);
    line-height: clamp(38px, 4.5vw, 58px);
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 25px 0 30px 0;
}

.about h3 {
    width: 118px;
    height: 12px;
    /* gap: 8px; */
    font-weight: 700;
    font-size: clamp(12px, 1vw, 14px);
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: 0%;
    color: #DD4C8A;
}

.star-about {
    font-size: clamp(12px, 1vw, 14px);
    color: #1F252B;
}

.about p {
    /* width: 639px;
    height: 170px; */
    width: 100%;
    height: auto;
    font-weight: 500;
    font-size: clamp(12px, 1vw, 14px);
    color: #505050;
    line-height: clamp(18px, 1.5vw, 20px);
    letter-spacing: 0%;
    margin-bottom: 30px;
}




/* about section end  */

/* smart fast section  */
.smart-fast {
    /* width: 100%;
    height: 712px; */
    min-height: 712px;
    background: #181B34;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.smart-fast-wrapper {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.smart-fast h4 {
    width: 170px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    color: #DD4C8A;
    margin-bottom: 20px;
}

.smart-fast h1 {
    width: 978px;
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    text-align: center;
    background: linear-gradient(95.82deg, #FFFFFF 20.38%, #FD8A45 50%, #DD4C8A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* margin-bottom: 40px; */
}

.smart-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    gap: 35px;
    width: 100%;
    /* max-width: 1200px; */
    flex-wrap: wrap;
}

.smart-fast .cards {
    width: 390px;
    height: 355px;
    text-align: center;
    border-radius: 10px;
    background: white;
    box-shadow: 4px 4px 8px rgba(31, 37, 43, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smart-fast .cards img {
    width: 60px;
    height: 69px;
    margin: 40px 171px 30px 171px;
}

.smart-fast .cards h3 {
    margin-bottom: 10px;
    font-style: normal;
    /* font-weight: 900; */
    font-weight: bolder;
    font-size: 18px;
    text-transform: uppercase;
    color: #1F252B;

}

.smart-fast .cards p {
    font-size: 14px;
    margin-left: 40px;
    margin-right: 40px;
    /* Hyperbaric Oxygen Therapy for sports injuries. Helping your clients with recovery, repair and strengthening. */
    width: 310px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #505050;
    margin-bottom: 30px;


}

.explore-more-btn {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    align-items: center;
    padding: 0 34px;
    gap: 10px;
    width: 176.51px;
    height: 48px;
    background: #181B34;
    border-radius: 40px;
    color: white;

}



.smart-fast span {
    margin: 0 5px;
    color: white;
}


/* product section */
.product-section span {
    color: #1F252B;
    margin-right: 8px;

}

.product-section {
    min-height: 619px;
    /* padding: 60px 20px; */
    background: url(./images/product-bg.png);
    background-size: cover;
    background-position: center;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.product-container {
    /* margin: 0 128px 0 100px; */
    padding: 70px 128px 0 100px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    gap: 40px;
}

/* LEFT SIDE: Text */
.product-content {
    max-width: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-content h4 {

    /* Bariks Product */
    /* margin-bottom: 10px; */
    min-width: 125px;
    height: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #DD4C8A;
    margin-bottom: 25px;

}

.product-content h1 {
    font-size: 48px;
    margin: 10px 0;
}

.gradient-text {
    width: 332px;
    height: 52px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 58px;
    leading-trim: both;
    text-edge: cap;
    text-transform: uppercase;
    background: linear-gradient(95.82deg, #425292 20.38%, #FD8A45 50%, #DD4C8A 100%);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.product-content p {
    width: 346px;
    height: 60px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #505050;
    /* margin-top: 20px; */
    margin: 30px 0;
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.product-btn-get {
    /* background-color: gray; */
    width: 165px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

}

.product-btn-get img {
    width: 10px;
}

.product-btn-view {
    /* background-color: gray; */
    width: 165px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-weight: 550;

}

.product-btn-view img {
    width: 10px;
}

/* RIGHT SIDE: Image */
.product-image img {
    max-width: 100%;
    width: 732px;
    height: auto;
    border-radius: 10px;
}

/* FEATURES GRID */
.features-grid {
    padding: 0 110px 20px 110px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    margin-top: 30px;
    gap: 0;
    background: transparent;


}

.feature-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;

    /* text-align: center; */
    padding: 0 20px 20px 20px;
    position: relative;
    border-left: 1px solid black;
    /* border:3px solid; */
}

.feature-box.no-border {
    border-left: none;
}

.feature-box img {
    width: 58px;
    height: 58px;
    margin-bottom: 20px;
}

.feature-box p {
    font-size: 14px;
    font-weight: 600;
    color: #1F252B;
    line-height: 20px;
}

/* Mobile Responsive */

/* BG SECTION  */
.bg {
    background-image: url(./images/bg-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 948.6614379882812px;
    /* Responsive height */
    display: flex;
    justify-content: flex-end;
    /* Align h1 to the right */
    padding: 80px 100px;
    position: relative;
}

.bg h1 {
    font-style: italic;
    font-weight: 800;
    font-size: 48px;
    text-align: right;
    background: linear-gradient(95.82deg, #425292 20.38%, #FD8A45 50%, #DD4C8A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    max-width: 700px;
}

/* Responsive Text & Padding */

/* SYSTEM SECTION */
/* SYSTEM SECTION  */
.system span {
    color: #1F252B;
    font-size: 15px;
    margin-right: 8px;
}

.system {
    width: 100%;
    min-height: 466px;
    background: url(./images/system-bg.png);
    background-color: #F7F7F7;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 80px 100px;
}

.system .left {
    flex: 1;
    /* width: 100%; */
    max-width: 346px;
    /* margin: auto; */
    margin: 45px 0;
}

.system .left h4 {
    color: #DD4C8A;
    font-size: 14px;
    margin: 10px 0;
    text-transform: uppercase;
}

.system .left h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    background: linear-gradient(95.82deg, #425292 20.38%, #FD8A45 50%, #DD4C8A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 10px;
}

.system .left p {
    font-family: Public Sans, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #505050;
    text-align: left;
}

.system .right {
    flex: 2;
    max-width: 810px;
    /* margin: auto; */
}

/* SYSTEM CARD FLEX (previously GRID) */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    /* width: 100%; */
}

.system-card {
    width: 250px;
    height: 138px;
    padding: 15px;
    background: linear-gradient(95.82deg, rgba(66, 82, 146, 0.08) 20.38%, rgba(253, 138, 69, 0.08) 50%, rgba(221, 76, 138, 0.08) 100%);
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    color: black;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* flex-wrap: wrap; */
}

.system-card:hover {
    background: white;
}

.card-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.system-card img {
    width: 48px;
    height: 48px;
}

.system-card h4 {
    font-size: 18px;
    font-weight: 700;
    color: #1F252B;
    margin: 0;
}

.system-card p {
    font-size: 12px;
    font-weight: 500;
    color: #505050;
    margin: 0;
    line-height: 1.5;
}

/* WHY SECTION  */
.why {
    width: 100%;
    height: 517px;
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #af0f0f;
    /* padding: 40px; */
}

#why-img1 {
    position: relative;
    left: 0px;
    width: 250px;
    height: 517px;
    object-fit: cover;
    object-position: center;
    border-radius: 0px 15px 15px 0px;
}

#why-img2 {
    position: relative;
    width: 960px;
    height: 517px;
    left: calc(48.7% - 920px/2);
    border-radius: 10px;
}

#why-img3 {
    position: relative;
    width: 250px;
    height: 517px;
    object-fit: cover;
    /* object-position: center; */
    border-radius: 15px 0px 0px 15px;
}

.why h1 {
    position: absolute;
    width: 411px;
    height: 48px;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    z-index: 100;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    background: linear-gradient(95.82deg, #FFFFFF 20.38%, #FD8A45 50%, #DD4C8A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.why-card {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: -7px -7px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    z-index: 90;
    text-align: left;
}

.why-card.left-card {
    width: 338px;
    height: 158px;
    top: 30%;
    left: 7%;
}

.why-card.right-card {
    width: 330px;
    height: 150px;
    top: 30%;
    right: 7%;
}

.why-card p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #505050;
}

.why .left h4 {
    position: absolute;
    width: 75px;
    height: 10px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 3px #000;
}

.why .right h4 {
    position: absolute;
    width: 75px;
    height: 10px;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 3px #000;
}


/* NOTABLE-SECTION */
.notable {
    width: 100%;
    height: 68px;
    background: #F7F7F7;
    border-radius: 15px;
    margin-top: 10px;
}

.notable h4 {
    color: #DD4C8A;
}

.notable ul {
    position: relative;
    left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 30px;
    list-style: none;
    text-align: center;
}

.notable ul li {
    font-weight: 500;
    font-size: 14px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: 0%;
}


/* customer section  */
.customer span {
    color: #1F252B;
    margin: 8px;
}

.customer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 750px;
    margin-top: 10px;
    align-items: wrap;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.customer-left {
    width: clamp(200px, 15vw, 250px);
    height: 750px;
    background-color: #F7F7F7;
    border-radius: 0 1rem 1rem 0;
}

.customer-center {
    width: 920px;
    min-height: 750px;
    padding: 20px;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #F7F7F7;
    border-radius: 1rem 1rem;
    position: relative;
    padding: 80px 0;
}

.customer-right {
    width: clamp(200px, 15vw, 250px);
    min-height: 750px;
    background-color: #F7F7F7;
    border-radius: 1rem 0 0 1rem;
}

.customer-center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 212px;

}

.customer-center h4 {
    margin-bottom: 30px;
    /* width: 144px; */
    height: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* text-transform: uppercase; */
    color: #DD4C8A;

}

.customer-center h1 {
    width: 497px;
    height: 120px;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 58px;
    background: linear-gradient(95.82deg, #425292 20.38%, #FD8A45 50%, #DD4C8A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.customer-cards {
    position: absolute;
    top: 252px;
    display: flex;
    gap: 40px;
    margin: 40px 0;
    /* padding: 0 100px; */
}

.customer-card {
    /* Rectangle 18 */
    /* position: absolute; */
    padding: 30px;
    width: 600px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(24, 27, 52, 0.05);
    border-radius: 15px;

}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-info h4 {
    margin: 0;
    /* font-weight: 600; */
    color: #000;
    font-size: 16px;

}

.stars {
    /* width: 20px; */
    font-size: 16px;
    margin-top: 5px;
    color: #FD8A45;
    text-align: left;
    letter-spacing: 2px;



}

.user-image img {
    object-fit: cover;
    border-radius: 50%;
    /* border: 2px solid #fff; */
    /* box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);  */

    /* box-sizing: border-box; */
    width: 38px;
    height: 38px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}

.review {
    /* It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.  */

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: left;


    color: #1F252B;


}

.see-all-stories {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 185px;
    height: 48px;
    border-radius: 40px;
    font-size: 14px;
    cursor: pointer;
    padding: 0 34px;
    background-color: #181B34;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.see-all-stories img {
    width: 10px;
}

/* CENTER-SECTION  */
.centers span {
    color: #1F252B;
    font-size: 15px;
    margin-right: 8px;
}

.centers {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    min-height: 610px;
    background: #F7F7F7;
    border-radius: 15px;
    margin-top: 10px;
}

.centers .left {
    margin: 130px 0 139px 100px;
    max-width: 525px;
    /* height: 341px; */
}

.centers .left h4 {
    height: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #DD4C8A;
}

.centers .left h1 {
    width: 600px;
    height: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    background: linear-gradient(95.82deg, #425292 20.38%, #FD8A45 50%, #DD4C8A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 20px 0;
}

.centers .left p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #505050;
    margin: 20px 0;
    max-width: 524px;
}

.centers .centers-button {
    display: flex;
    gap: 15px;
    margin-top: 10px;

}



.centers .right {
    min-width: 835px;
    min-height: 610px;
}

.centers .right img {
    /* position: absolute; */
    object-fit: cover;
    object-position: right;
}

/* centers section end */

/* MEDIA SECTION  */
.media-section span {
    color: #1F252B;
    margin: 8px;
}

.media-section {
    width: 100%;
    height: 100%;
    margin-top: 10px;

}

.media-bg {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 1012px;
    align-items: wrap;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.media-bg .left {
    width: clamp(200px, 15vw, 250px);
    height: 1012px;
    background-color: #F7F7F7;
    border-radius: 0 1rem 1rem 0;
}

.media-bg .center {
    width: 920px;
    min-height: 1012px;
    padding: 20px;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #F7F7F7;
    border-radius: 1rem 1rem;
    position: relative;
    padding: 80px 0;
}

.media-bg .text-center {
    /* margin: 80px 181px; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.media-bg .center h4 {
    /* width: 144px; */
    /* margin-top: 80px; */
    height: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #DD4C8A;
}

.media-bg .center h1 {
    width: 558px;
    height: 65px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 58px;
    text-align: center;
    background: linear-gradient(95.82deg, #425292 20.38%, #FD8A45 50%, #DD4C8A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.media-bg .right {
    width: clamp(200px, 15vw, 250px);
    min-height: 1012px;
    background-color: #F7F7F7;
    border-radius: 1rem 0 0 1rem;
}

.media-cards {
    position: absolute;
    /* width: 100%; */
    display: flex;
    gap: 40px;
    top: 224px;
    /* left: 40px; */
}

.left-media-card {
    width: 600px;
    height: 620px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(24, 27, 52, 0.05);
    border-radius: 15px;
    overflow: hidden;
    /* text-align: left; */
}

.left-media-card h3 {
    text-align: left;
    /* padding: 0; */
}

.left-media-card .card-img {
    width: 560px;
    height: 360px;
    object-fit: cover;
    margin: 20px 20px 0 20px;
    border-radius: 15px;
}

.right-media-card {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-media-card1,
.right-media-card2 {
    height: 295px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(24, 27, 52, 0.05);
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.right-media-card .card-img {
    width: 220px;
    height: 250px;
    margin: 0;
    border-radius: 15px;
    object-fit: cover;
    margin-left: 20px;
}

.right-media-card .card-content {
    flex: 1;
    padding: 20px;
    /* text-align: left; */
}

.right-media-card .card-content h3 {
    /* width: 320px; */
    width: 100%;
    /* height: 104px; */
    font-size: 20px;
    margin-bottom: 78px;
    text-align: left;
}

.card-content {
    padding: 30px;
    padding-top: 10px;
}

.card-content h3 {
    width: 560px;
    height: 96px;
    font-size: 28px;
    font-weight: 600;
    color: #181B34;
    margin-bottom: 30px;
}

.read-more-btn {
    width: 158.50962829589844px;
    height: 48px;
    gap: 10px;
    border-radius: 40px;
    padding: 19px 34px;
    border: 1px solid #d2ced0;
    background: none;
    color: #DD4C8A;
    /* font-weight:550; */
    cursor: pointer;
    font-size: 14px;
    font-style: bold;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;

}

.read-more-btn:hover {
    background: #DD4C8A;
    color: white;
}

.read-more {
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
    padding: 19px 34px;
    gap: 10px;
    color: white;
    width: 213px;
    height: 48px;
    font-size: 14px;
    background: #181B34;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.read-more-btn img {
    width: 9px;
    height: 10px;
    /* background-color: #DD4C8A; */
}

.read-more:hover {
    background: #DD4C8A;
}


/* CONTACT-SECTION  */
.contacts span {
    font-size: 16px;
    color: white;
    margin-right: 8px;
}

.contacts {
    width: 100%;
    /* position: relative; */
    min-height: 610px;
    background: #181B34;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    gap: 230px;
    padding: 80px 100px 0 100px;
}

.contacts .left {
    /* width: 40%; */
    /* margin: 80px 100px 0 100px; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.contacts .left h4 {
    color: #DD4C8A;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contacts .left h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 58px;
    background: linear-gradient(97.56deg, #FFFFFF 16.6%, #FD8A45 40.72%, #DD4C8A 81.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contacts .left p {
    width: 357px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 15px;
}

.contacts .left img {
    width: 213px;
    height: 240.22px;
    /* margin-left: 224px; */
    position: absolute;
    bottom: -18px;
    left: 230px;

}

.contacts .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    /* position: absolute; */
    width: 600px;
    height: 462px;
    /* margin: 80px 100px; */
}

.contacts form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-input {
    padding: 15px;
    border-radius: 8px;
    border: none;
    background: white;
    font-size: 16px;
}

/* .form-input::placeholder {
    color: #666;
} */

.full-width {
    width: 100%;
}

.input-row {
    display: flex;
    gap: 20px;
}

.half-width {
    width: calc(50% - 10px);
}

.form-input::placeholder {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1F252B;


}

.message-area {
    height: 150px;
    resize: none;
}

.contacts .see-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 19px 34px;
    gap: 10px;
    color: white;
    width: 185.51px;
    height: 48px;
    font-size: 14px;
    background: linear-gradient(93.82deg, #B037EA 0%, #FD8A45 50.12%, #DD4C8A 100.25%);
    border-radius: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
}

.contacts .see-all:hover {
    opacity: 0.9;
}


/* Footer Section */
.footer {
    width: 100%;
    height: 580px;
    background: linear-gradient(0deg, rgba(247, 247, 247, 0.95), rgba(247, 247, 247, 0.95)), url(./images/footer-gif.gif);
    border-radius: 15px 15px 0px 0px;
    margin-top: 10px;
    /* padding: 60px 100px 20px; */
    padding: 40px 20px;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* border-top: 2px solid transparent; */
    border-image: linear-gradient(to right, #ff6a00, #ee0979) 1;
    /* border-bottom: 2px solid transparent; */
    /* border-image-slice: 1; */
    border-image-source: linear-gradient(to right, #ff6a00, #ee0979);
}

.footer-item {
    flex: 1 1 33%;
    min-width: 220px;
    padding: 30px 20px 80px 20px;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    gap: 6px;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.08); */
}

.footer-item:nth-child(3),
.footer-item:nth-child(6) {
    border-right: none;
}

.footer-logo img {
    width: 146px;
    height: 70px;
    /* background-color: green; */

}

.footer-item img.icon {
    width: 62px;
    height: 62px;
    transition: all 0.3s ease;
}

.footer-item img.icon:hover {
    transform: scale(1.1);
}

.social {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: center;
    gap: 20px;

}

.footer-item.social img {
    width: 4;
    height: 48px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    /* padding: 5px; */
    transition: all 0.3s ease;
}

.footer-item.social img:hover {
    background: linear-gradient(to right, #fc466b, #3f5efb);
    transform: scale(1.1);
}

.tagline {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
}

.label {
    margin-top: 20px;
    color: #DD4C8A;
    font-weight: 650;
    font-size: 14px;
}

.value {
    font-weight: 700;
    font-size: 16px;
    color: #181B34;
}

.footer-bottom {
    margin-top: 20px;
    margin-bottom: 10px;
    /* padding-top: 15px; */
    font-size: 14px;
    color: #505050;
    font-weight:500;
    /* border-top: 1px solid #ccc; */
    text-align: center;
}


/* Responsive */
@media (max-width: 768px) {
    .footer-item {
        flex: 1 1 100%;
        border-right: none !important;
    }
}

.footer-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

/* Horizontal line (top and bottom) */
.footer-wrapper::before,
.footer-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,
            transparent,
            #181B34,
            transparent);
}

.footer-wrapper::before {
    top:40%;
}

.footer-wrapper::after {
    bottom: 0;
}
/* .footer-wrapper::before,
.footer-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: 450px;
    background: linear-gradient(to bottom,
            transparent,
            #181B34,
            transparent);
}

.footer-wrapper::before {
    top:0;
    left: 33%;
}

.footer-wrapper::after {
    bottom: 0;
} */

.footer-item {
    position: relative;
}

/* Vertical gradient line */
/* .footer-item:not(:nth-child(3)):not(:nth-child(6))::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
    width: 2px;
    background: linear-gradient(to bottom,transparent,#181B34);
} */